@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.container-customerorder {
    min-height: 100vh;
    width: 100%;
    
    background-image: url('../../assets/Wallpaper.svg'); 
    background-size: cover;        
    background-position: center;  
    background-repeat: no-repeat; 
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.customerorder-wrapper {
    background-color: #f8f8f8;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    height: 620px;
    width: 60%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 5rem;
    margin-bottom: 30px;
    overflow-y: auto    ;
    overflow-y: auto    ;
}

.order-title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 1.25rem;
    color: #B4835B;
    font-family: 'Jersey 15', sans-serif;
}

.order-details {
    display: flex;
    border-top: 2px solid #e0e0e0;
    padding-top: 1.25rem;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1rem;
}

.product-info-customerorder {
    display: flex;
    flex-direction: column;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-align: center;
    max-width: 300px;
    margin-right: 1.25rem;
    height: 200px;
    width: 300px;
    height: 200px;
    width: 300px;
}

.product-image-customerorder {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    margin-right: 0.9375rem;
    border: 1px solid #ccc;
}

.info-and-tracking {
    display: flex;
    flex-direction: column; /* Menyusun elemen secara vertikal */
    flex-direction: column; /* Menyusun elemen secara vertikal */
    padding: 15px;
    border: 1px solid #B4835B;
    border-radius: 8px;
}



.customer-info {
    font-size: 14px;
    line-height: 1.5;
    margin-right: 20px;
}

.tracking-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}

.tracking-input label {
    margin-bottom: 5px;
    font-size: 14px;
}

.tracking-input input {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}

.tracking-input button {
    background-color: #B4835B; /* Warna latar belakang hijau */
    color: white; /* Warna teks putih */
    border: none; /* Tanpa border */
    border-radius: 4px; /* Sudut melengkung */
    padding: 5px 8px; /* Jarak dalam button */
    font-size: 12px; /* Ukuran font */
    cursor: pointer; /* Cursor menjadi pointer saat hover */
    transition: background-color 0.3s; /* Transisi untuk efek hover */
}

.tracking-input button:hover {
    background-color: #9a704d; /* Warna latar belakang saat hover */
}



.order-divider {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

