@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&display=swap');


body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.container-login {
    min-height: 100vh;
    width: 100%;
    
    background-image: url('../../assets/Wallpaper.svg'); 
    background-size: cover;        
    background-position: center;  
    background-repeat: no-repeat; 
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex; 
    flex-direction: column;
    align-items: center; 
}

.login-wrapper {
    background-color: #F9F8F6; 
    border-radius: 30px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%; 
    max-width: 500px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

h2 {
    font-family: 'Jersey 15', sans-serif; 
    color: #B4835B;
    font-size: 28px; 
}

.input-group {
    margin-bottom: 5px;
    text-align: left;
    font-family: 'Amaranth', sans-serif;
    color: #B4835B;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 380px;
    padding: 10px;
    color: black;
    border: none;
    border-radius: 5px;
}

.input-group input::placeholder {
    color: #B4835B; 
    opacity: 1; 
}

.required {
    color: red; 
}

.login-button {
    background-color: #B4835B;
    color: white;
    font-family: 'Jersey 15', sans-serif; 
    border: none;
    font-size: 25px;
    border-radius: 5px;
    padding: 5px 30px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #705b49;
}

.forgot-password{
    margin-top: 10px;
    font-size: 14px;
    color: #B4835B;
    font-family: 'Amaranth', sans-serif;
    align-self: flex-end; 
    cursor: pointer;
}

.register{
    color: #B4835B;
    font-family: 'Amaranth', sans-serif;
    font-size: 14px;
    text-align: center; 
    cursor: pointer;
}