@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&display=swap');

.container-change-password {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/Wallpaper.svg');
    background-size: cover;
    background-position: center;
}

.change-password-wrapper {
    background-color: #F9F8F6; 
    border-radius: 30px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%; 
    max-width: 40%;
    padding: 2rem;
    text-align: center;
    margin-top: 1rem;
}

h2 {
    font-family: 'Jersey 15', sans-serif; 
    color: #B4835B;
    font-size: 25px; 
}

.input-group-change {
    font-family: 'Amaranth', sans-serif; 
    text-align: left;
    color: #B4835B;
    font-size: 15px; 
    margin-bottom: 0.3125rem;
}

.input-group-change label {
    display: block;
}

.input-group-change input {
    width: 100%; 
    padding: 0.625rem;
    color: black;
    border: 1px solid #ccc; 
    border-radius: 5px;
}

.input-group-change input::placeholder {
    color: #B4835B; 
    opacity: 1; 
}

.required {
    color: red; 
}

.change-password-button {
    background-color: #B4835B;
    color: white;
    font-family: 'Jersey 15', sans-serif; 
    border: none;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 0.5rem;
    padding: 0.3125rem 1.875rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.change-password-button:hover {
    background-color: #705b49;
}

.back-button {
    color: #B4835B;
    font-size: 14px;
    margin-top: 1rem;
    cursor: pointer;
    background: none;
    border: none;
    text-decoration: underline;
}
